[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
flask = "*"
gunicorn = "*"
mlflow = "*"
boto3 = "*"
scikit-learn-intelex = "*"
pyarrow = "*"
pandas = "*"
s3fs = "*"
python-dotenv = "*"

[dev-packages]
requests = "*"
jupyter = "*"
pandas = "*"
polars = "*"
tqdm = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
